@model Appointment

@{
    ViewData["Title"] = "Appointment";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<form asp-controller="Appointments" asp-action="AddItem" method="post">
    <div class="container pt-15">
        <div class="panel panel-primary">
            <div class="panel-heading">Create an Appointment</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" type="text" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Notes"></label>
                            <input asp-for="Notes" type="text" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Repetitions"></label>
                            <input asp-for="Repetitions" type="text" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Repetitions" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label asp-for="ReferenceDate"></label>
                            <input asp-for="ReferenceDate" type="text" class="form-control datetimefield" autocomplete="off" />
                            <span asp-validation-for="ReferenceDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RemindeBeforeDays"></label>
                            <input asp-for="RemindeBeforeDays" type="text" class="form-control" autocomplete="off" />
                            <span asp-validation-for="RemindeBeforeDays" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="RemindeBeforeWeeks"></label>
                        <input asp-for="RemindeBeforeWeeks" type="text" class="form-control" autocomplete="off" />
                        <span asp-validation-for="RemindeBeforeWeeks" class="text-danger"></span>
                    </div>
                </div>
                <span><button id="SubmitButton" type="submit" class="btn btn-default btn-primary">Add</button></span>
                <span><a id="CancelButton" asp-action="Index" asp-controller="Appointments" class="btn btn-default">Cancel</a></span>
            </div>
        </div>
    </div>
</form>