<h3 class="p-2">Administrator dashboard</h3>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/Birthdays">Birthdays</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/hangfire">Show running jobs</a>
    </li>
</ul>
