@model AppointmentViewModel

@{
    ViewData["Title"] = "Birthdays";
}

<h3>Birthdays</h3>
<div class="panel panel-default appointment-panel">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        @foreach (var item in Model.AppointmentItems.Data)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Date</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <a id="NewBirthdayButton" asp-action="New" asp-controller="Birthdays" class="btn btn-default">Add new birthday</a>
    </div>
</div>


