@model MBusData

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="row-no-gutters">
    <div class="col-md-2"><img src="~/images/wmbus.png" alt="img"></div>
</div>
<div class="row">
    <div class="col-md-9">
        <h3>Parser for analysis of wireless M-BUS communication.</h3>
        <p>
            Wireless meter reading requires communication protocols with little overhead for small amounts of data.
            The <strong>Wireless M-Bus</strong> standard (EN 13757-4) specifies the wireless communication between
            meters for water, gas, heat and electricity, and the data concentrators.<br />
            Click <a href="https://oms-group.org/" class="text-danger">here</a> to get more information. <br />
        </p>
        <p>
            Just paste your bytes in the input area, click the 'Parse' button and you will get parsed
            meter data in the output area.
        </p>
        <form asp-action="Parse">
            <div class="form-group">
                <label class="control-label">Secret key</label>
                <div>
                    <input asp-for="SecretKey" class="form-control" placeholder="Please enter the encryption key">
                </div>
                <label class="control-label">wireless M-Bus packet as hex</label>
                <span asp-validation-for="InputText" class="text-danger"></span>
                <textarea asp-for="InputText" class="form-control" rows="5"></textarea>
                <table>
                    <tr>
                        <th><button type="submit" class="btn btn-default btn-primary" style="margin:5px;">Parse</button></th>
                        <th>@*<input asp-for="IsExpert" /> Expert*@</th>
                    </tr>
                </table>
                <p>
                    @if (!string.IsNullOrEmpty(Model.Error))
                    {
                        <strong class="text-danger">@Model.Error</strong>
                    }
                    @if (!string.IsNullOrEmpty(Model.OutputText))
                    {
                        <textarea asp-for="OutputText" class="form-control" rows="@(Model.OutputText.Split('\n').Length)"></textarea>
                    }
                </p>
            </div>            
        </form>        
    </div>
</div>