@model MBusData

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="container">
    <article class="row single-post mt-1 no-gutters">
        <div class="col-md-12">
            <div class="image-wrapper float-left pr-2">
                <img src="~/images/wmbus.png" alt="">
            </div>
            <div class="single-post-content-wrapper p-2">
                <h4>Parser for analysis of wireless M-BUS packets.</h4>
                <p>
                    Wireless meter reading requires communication protocols with little overhead for small amounts of data.
                    The Wireless M-Bus standard (EN 13757-4) specifies the wireless communication between
                    meters for water, gas, heat and electricity, and the data concentrators. Click <a href="https://oms-group.org/" class="text-danger">here</a> to get more information.
                    <br />
                    Just paste your <strong>bytes as hex</strong> in the input area, click the '<strong>Parse</strong>' button and you will get parsed
                    meter data.
                </p>
                <form asp-action="Parse">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Secret key</span>
                            </div>
                            <input asp-for="SecretKey" type="text" class="form-control text-uppercase" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>                        
                        <span asp-validation-for="InputText" class="text-danger"></span>
                        <textarea asp-for="InputText" class="form-control text-uppercase" rows="5"></textarea>
                        <button type="submit" class="btn btn-primary m-1">Parse</button>
                        <p>
                            @if (!string.IsNullOrEmpty(Model.Error))
                            {
                                <strong class="text-danger">@Model.Error</strong>
                            }
                            @if (!string.IsNullOrEmpty(Model.OutputText))
                            {
                                <textarea asp-for="OutputText" class="form-control" rows="@(Model.OutputText.Split('\n').Length)"></textarea>
                            }
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>