@{
    ViewData["Title"] = "About";
}
<h1>about me</h1>

<div class="row">
    <div class="col-md-8">
        <p class="lead"><em>I'm a software developer based in beautiful Saarland, Germany near France and Luxembourg.</em></p>
        <blockquote>
            <p>
                It seems crazy, but I started my first experience with world of the software development just 6000 kilometers from my
                current home away in the coldest place of the world. No, it is not Antarctica, but it is similar to it. That was in 
                the biggest continent in the world, in Siberia, a paradise for true nature lovers.<br />
                I enjoy turning complex problems into simple, beautiful and intuitive software solutions. When I'm not coding, you'll find me cooking.
            </p>
            <footer>January 2020</footer>
        </blockquote>
    </div>
    <div class="col-md-4"><img src="~/images/iam.png" alt="img" height="250" class="img-circle"></div>
</div>

