@using  Ma.Web.Services

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />     
    <meta name="Description" content="M-Bus parser, wireless M-Bus parser, MBUS, WMBUS, OMS, DIN-EN-13757, EN13757">
    <meta name="keywords" content="M-Bus parser, wireless M-Bus, MBUS, WMBUS, online tool, OMS-Spec, DIN-EN-13757, EN13757" />
    <meta name="robots" content="index, follow" />
    <title>Alexander Miller, OMS, parser, wireless M-Bus, DIN-EN-13757</title>
    <link rel="icon" href="~/images/icon.png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" />
        <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"       
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    </environment>
</head>
<body>
    <div class="container">
        <header class="blog-header-logo">
            <div class="row align-items-center">
                <div class="col text-center">
                    <h2><a href="/" class="title-text">Alexander Miller</a></h2>
                    <div class="col text-center tag-text">
                        &lt; software developer /&gt;
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container-fluid px-0 navbar-custom">
        <div class="container">
            <nav class="container navbar navbar-expand-lg navbar-dark p-1">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <svg style="width:24px;height:24px;margin-bottom:3px;"><path fill="#8A8E92" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Mbus" asp-action="Index">M-Bus</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="WMbus" asp-action="Index">wireless M-Bus</a></li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a></li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
    </div>
    <div class="container p-0">
        @RenderBody()
    </div>    
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.js" type="text/javascript"></script>
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.js" type="text/javascript"></script>
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
